# Byte-compiled / optimized / DLL support
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Local environments
.venv/
env/
venv/
ENV/

# IDEs
.idea/
.vscode/